<section class="chat-window">
	<div class="chat-top-section">
		<div class="user-profile-pic">
			<img src="https://static.wikia.nocookie.net/marvelcinematicuniverse/images/7/71/Iron_Man_Armor_-_Mark_VII.png/revision/latest/top-crop/width/360/height/450?cb=20181207085104" alt="Iron man stolen from google">
		</div>
		<div class="chat-user">
			<cite class="chat-user-name">
				Jay Guy
			</cite>
			<span class="chat-user-last-seen">
				Last seen today at <time>19:26</time>
			</span>
		</div>
	</div>

	<ul class="chat-message-list">
		<li class="chat-message-item">
			<blockquote class="chat-bubble">
				<p>
					Hi 👋
				</p>
				<footer>
					<span class="time">
						9:21
					</span>
				</footer>
			</blockquote>
		</li>

		<li class="chat-message-item">
			<blockquote class="chat-bubble">
				<p>
					how are you?
				</p>
				<footer>
					<time class="time">
						9:21
					</time>
				</footer>
			</blockquote>
		</li>

		<li class="chat-message-item from-me">
			<blockquote class="chat-bubble">
				<p>
					Hey sorry, completely missed this😬 I'm good you?
				</p>
				<footer>
					<span class="time-stamp">
						19:26
					</span>
				</footer>
			</blockquote>
		</li>
	</ul>

	<div class="chat-bottom-section">
		<input class="text-input" type="text" />

		<button type="submit">
			Send
		</button>
	</div>
</section>
